.Information {
  position:fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 400px;
  z-index: 100;
  background-color: #dadada;
  padding: 60px 10px;
}

.Editor.hide-info .Information {
  left: -400px;
}

.Information input {
  width: 100%;
}

.Information textarea {
  width: 100%;
  height: 100%;
}

.Information ul {
  padding: 0px;
  margin: 0px;
}

.Information li {
  padding: 0px;
  list-style: none;
}

.Information-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.Information-header {
  font-weight: bold;
  margin-top: 10px;
}

.Information-remarks {
  max-height: 40%;
  overflow: scroll;
}

.Information-states {
  max-height: 40%;
  overflow: scroll;
}

.Information-attributes {
  max-height: 20%;
  overflow: scroll;
}

.Information-states ul {
  cursor: pointer;
}

.Information-states li:hover {
  background-color: #ccc
}

.Information-states li.selected {
  background-color: #bbb
}
