.transition {
  stroke: grey;
}

.marker {
  fill: grey;
}

.conditional_transition {
  stroke-dasharray: 1;
}

.distributed_transition {
  stroke-dasharray: 4;
}

.node {
  fill: white;
}

.node text {
  font-size: 8px;
  /*display: none;*/
  fill: black;
  text-anchor: middle;
}
