.Module {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 500px;
  padding-top: 60px;
}

.Module svg {
  top: 50px;
  position:absolute;
}

.Module-fullscreen {
  left: 0;
}

.Module-standard-screen {
  left: 500px;
}

.Editor.hide-info .Module {
  left: 0;
}

.node {
  cursor: pointer;
}

.node.node-highlighted text{
  fill: #000000;
  /* font-weight: bold; */
}

.node.node-highlighted path{
  stroke: #336699;
  /* stroke-width: 2px; */
}

.node.node-highlighted polyline{
  stroke: #003366;
  /* stroke-width: 2px; */
}

.node.node-muted text{
  fill: #CCC;
}

.node.node-muted path{
  stroke: #CCC;
}

.node.node-muted polyline{
  stroke: #CCC;
}

.transition path{
  cursor: pointer;
}

.transition text{
  cursor: pointer;
}

.transition.transition-highlighted path {
  stroke: #336699;
  stroke-width: 3px;
}
.transition.transition-highlighted polygon {
  fill: #336699;
  stroke: #336699;
}
.transition.transition-highlighted.transition-selected path {
  stroke: violet;
  stroke-width: 3px;
}
.transition.transition-highlighted.transition-selected polygon {
  fill: violet;
  stroke: violet;
}

.transition.transition-highlighted.transition-selected text {
  fill: violet;
}

.transition.transition-highlighted text {
  fill: #336699;
  /* font-weight: bold; */
}

.transition.transition-muted path {
  stroke: #CCC;
}
.transition.transition-muted polygon {
  fill: #CCC;
  stroke: #CCC;
}

.transition.transition-muted text {
  fill: #CCC;
}

.Module.bold-lines path{
  stroke-width: 3;
}

.Module.bold-lines polyline{
  stroke-width: 3;
}

.Module.bold-lines .node.node-highlighted path{
  stroke-width: 5px;
}

.Module.bold-lines .node.node-highlighted polyline{
  stroke-width: 5px;
}

