.Module {
  position: fixed;
}

.transition {
  stroke: grey;
  stroke-width: 1px;
}

.marker {
  fill: grey;
}

.conditional_transition {
  stroke-dasharray: 1;
  stroke: red;
}

.distributed_transition {
  stroke-dasharray: 4;
}

.node {
  cursor: pointer;
}
