.Module {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 400px;
  padding-top: 40px;
}

.Editor.hide-info .Module {
  left: 0;
}

.transition {
  stroke: grey;
  stroke-width: 1px;
}

.marker {
  fill: grey;
}

.conditional_transition {
  stroke-dasharray: 1;
  stroke: red;
}

.distributed_transition {
  stroke-dasharray: 4;
}

.node {
  cursor: pointer;
}

.Module.bold-lines path{
  stroke-width: 5;
}
