.Editor-main {
}

.Editor-panel {
  position:fixed;
  height: 90%;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 500px;
  z-index: 100;
  margin: 70px 20px 200px 10px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow-y: scroll;
}

.nav-action-button {
  margin-left: 10px;
}

.__react_component_tooltip.react-tooltip-customized {
  z-index: 10000 /* so it is over the navbar */

}
