.Editor.hide-info .ModuleProperties {
  left: -400px;
}

.ModuleProperties { 
  padding-top: 10px;
  padding-bottom: 10px;
}

.ModuleProperties input {
  width: 100%;
}

.ModuleProperties textarea {
  height: 100vw;
  width: 100%;
}

.ModuleProperties-name {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}

.ModuleProperties-remarks {
  font-size: .8em;
}
