.NavTabs {
    text-align: center;
    list-style: none;
    padding: 0;
    height: 30px;
    overflow: hidden;
    font-family: verdana;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 200;
    padding-right: 30px;
}
.NavTabs li {
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    /* margin: 0 -5px; */
    margin: 0 2px;
    padding: 0 2px;
}
.NavTabs li.NavTabs-active {
    background: #fafafa;
    color: #333;
    z-index: 2;
    border-bottom-color: #fafafa;
}

.NavTabs li.NavTabs-active .NavTabs-close{
  display: inline-block;
  opacity: .5;
  cursor: pointer;
  transition: opacity .5s;
}
.NavTabs li.NavTabs-active .NavTabs-close:hover{
  opacity: 1
}

.NavTabs li.NavTabs-active button {
  border-top: 2px solid #cb7732;
}
.NavTabs:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}
.NavTabs li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #D1D1D1;
}
.NavTabs li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #D1D1D1;
}
.NavTabs li.Navtabs-active:before {
    box-shadow: 2px 2px 0 #FFF;
}
.NavTabs li.Navtabs-active:after {
    box-shadow: -2px 2px 0 #FFF;
}

.NavTabs button{
  color: #555;
  text-decoration: none;
  height: 28px;
  padding: 0px 20px 0;
  border: none;

  margin: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  outline: none;

  font-size: .75em;
}

.NavTabs button:focus{
  outline: none;
}

.NavTabs-close {
  display: none;
  height: 12px;
  margin: 0 4px 0 -14px;
}


