.State {
  position:fixed;
  right: 10px;
  top: 60px;
  height: 100%;
  width: 400px;
  background-color: #efefef;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 10;
}

.State div {
  padding-bottom: 10px;
}

