.transition-option {
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-right: 10px;
}
